// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-family: "Roboto";
}

.navbar-brand {
    .logo {
        @extend .mr-2;
        width: 32px;
    }
}

.cursor {
    cursor: pointer;
}

.directory-info .card-header {
    @extend h5;
    margin: 0;
}

.directory-container .progress {
    width: 10rem;
    float: right;
    margin-top: 0.2rem;
}

#notify-bar {
    width: 400px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#app-version {
    position: fixed;
    bottom: 0;
    right: 1rem;
    opacity: 0.6;
}

.directory-container.grid-group {
    .grid-group-item {
        @extend .col-md-3;
        @extend .mt-4;
        .card-body {
            text-align: center;

            .card-icon {
                font-size: 6rem;
                height: 10rem;
            }
        }
        .card-img-top {
            height: 10rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}